<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()" >

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               formControlName="nombre"
               [class.is-invalid]="nombreNoValido"
               > 

        <small *ngIf="nombreNoValido" class="text text-danger">
          Ingrese 5 letras
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               formControlName="apellido"
               [class.is-invalid]="apellidoNoValido"
               >
        <small *ngIf="apellidoNoValido" class="text text-danger">
            Ingrese 5 letras
        </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             formControlName="correo"
             [class.is-invalid]="correoNoValido"
            >
      <small *ngIf="correoNoValido" class="text text-danger">
        Ingrese correo v&aacute;lido
      </small>
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">

    <label class="col-2 col-form-label">Direcci&oacute;n :</label>

    <div class="form-row col">

      <div class="col">

        <input type="text"
              class="form-control"
              formControlName="distrito"
              [class.is-invalid]="distritoNoValido"
            />
        <small *ngIf="distritoNoValido" class="text text-danger">Ingrese el distrito</small>

      </div>

      <div class="col">

        <input type="text"
              class="form-control"
              formControlName="ciudad"
              [class.is-invalid]="ciudadNoValido"
            />
        <small *ngIf="ciudadNoValido" class="text text-danger">Ingrese ciudad</small>

      </div>

    </div>

  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr/>
<pre>
  Estado del Formulario : {{ forma.valid }}
  <br/>
  Status: {{ forma.status }}

</pre>

<pre>
  {{ forma.value | json }}
</pre>